<div class="row">
    <div class="col-md-5 col-md-push-3">
        {{{quinoDetailsList}}}
    </div>
    <div class="col-md-4 col-md-push-3">
        {{{quinoFocusedist}}}
    </div>
    <div class="col-md-3 col-md-pull-9">
        {{{quinoCategoriesList}}}
    </div>
</div>
